<!DOCTYPE html>
<html>

  <head>
    <title>ЭТОВОТЭТО</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link rel="stylesheet" href="css/style.css"/>
    <link href="css/all.css" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">

  </head>

  <body>
    <div id="app">
      <v-app>
        <v-toolbar flat="flat" height="120px">
          <v-spacer></v-spacer>
          <v-toolbar-title style="margin-left:0;" class="display-2">ЭТО ВОТ ЭТО</v-toolbar-title>
          <v-spacer></v-spacer>
        </v-toolbar>

        <v-toolbar flat="flat">
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn flat="flat" small="small" to="/">Слова</v-btn>
            <v-btn flat="flat" small="small" to="/desc">Определения</v-btn>

          </v-toolbar-items>
          <v-spacer></v-spacer>
        </v-toolbar>

        <v-content>
          <v-snackbar v-if="auth && !loggedIn" auto-height="auto-height" color="grey lighten-1" v-model="auth" multi-line="multi-line" vertical="vertical" :timeout="0" top="top">
            <v-form v-model="valid">
              <v-layout row="row" wrap="wrap">

                <v-flex xs12="xs12" text-xs-center="text-xs-center">
                  <v-text-field v-if="!loggedIn" autofocus="autofocus" outline="outline" :rules="rules.email"
                  hint="" browser-autocomplete="browser-autocomplete" label="Эл. почта" v-model="user.email"></v-text-field>
                </v-flex>
                <v-flex xs8="xs8" text-xs-center="text-xs-center">
                  <v-text-field
                    browser-autocomplete="browser-autocomplete"
                    outline="outline"
                    counter="counter"
                    hint=""
                    :rules="rules.password"
                    :type="showPassword ? 'text' : 'password'"
                    :append-icon="showPassword ? 'visibility' : 'visibility_off'"
                    @click:append="showPassword = !showPassword"
                    label="Пароль"
                    v-model="user.password"></v-text-field>
                </v-flex>

                <v-flex align-center="align-center" xs2="xs2" text-xs-center="text-xs-center">
                  <v-btn :disabled="!valid" icon="icon" @click="login(user)">
                    <v-icon>fa-arrow-right</v-icon>
                  </v-btn>

                </v-flex>
                <v-flex align-center="align-center" xs2="xs2" text-xs-center="text-xs-center">
                  <v-btn icon="icon" @click="auth=false">
                    <v-icon>fa-times-circle</v-icon>
                  </v-btn>
                </v-flex>

              </v-layout>
            </v-form>
          </v-snackbar>

          <router-view @auth="auth=!auth" :user="me"></router-view>

        </v-content>

      </v-app>
    </div>
  </body>

  <script id="words" type="x-template">
    <v-container grid-list-lg="grid-list-lg">

      <v-layout row="row" wrap="wrap">




      <v-flex xs12="xs12" sm6="sm6" offset-sm3="offset-sm3">
        <v-form @submit.prevent="" v-model="validWord">
          <v-text-field @input="search(add.word)" @click:clear.prevent.stop="clearWord()" :rules="wordRules" outline="outline" counter="counter" hint="Найдите его в словаре или предложите своё определение" label="Придумайте слово" v-model="add.word"></v-text-field>
        </v-form>

      </v-flex>

      <v-flex xs12="xs12" sm6="sm6" offset-sm3="offset-sm3">
        <v-toolbar flat="flat" color="grey lighten-3">
          <v-spacer></v-spacer>

          <v-btn icon="icon" :class="{'fa-spin':!loaded}"  @click="search()" >
              <v-icon>fa-redo</v-icon>
            </v-btn>

          <v-menu bottom="bottom" offset-y="offset-y">
            <!-- Activator -->

            <v-btn large class="title" slot="activator" icon="icon">
              {{limit}}&nbsp;
              <v-icon>fa-angle-down</v-icon>
            </v-btn>

            <!-- List -->
            <v-list dense="dense">
              <v-list-tile v-for="(lim,i) in limits" :key="i" @click="limit=lim;search()">

                <v-list-tile-title >
                  {{lim}}
                </v-list-tile-title>
              </v-list-tile>
            </v-list>
          </v-menu>

          <v-btn icon="icon"  @click="status=0;search()" :flat="status!=0" :disabled="status==0">
              <v-icon>fa-book</v-icon>
            </v-btn>

        <v-btn icon="icon"  @click="status=1;search()" :flat="status!=1" :disabled="status==1">
              <v-icon>fa-inbox</v-icon>
            </v-btn>

          <v-btn icon="icon" @click="$emit('auth')">
            <v-icon>fa-sign-in-alt</v-icon>{{userName}}</v-btn>
          <v-spacer></v-spacer>
        </v-toolbar>
      </v-flex>

      <v-flex v-if="status==1" xs12="xs12" sm6="sm6" offset-sm3="offset-sm3">

        <v-alert icon="fa-inbox"  value="true"  outline="outline" color="error">
          <h3>Осторожно, черновики!</h3>
          Новые слова и определения, ожидающие модерации. За содержание черновиков редакция ответственности не несёт.
        </v-alert>

      </v-flex>

      <v-flex xs12 sm6 offset-sm3 >
        <v-progress-linear
            color="grey"
            v-model="loading"
            height="2"
            :indeterminate="!loaded"></v-progress-linear>
        </v-progress-linear>
      </v-flex>



      <v-flex v-if="words" xs12="xs12" sm6="sm6" offset-sm3="offset-sm3" v-for="word in words" v-bind:key="word.id">

        <this-card @load="loading=$event" :word="word"></this-card>

      </v-flex>

      <v-flex xs12="xs12" sm6 offset-sm3>

        <this-add v-if="add.word && validWord && words.length==0" :add="add" @load="loading=$event" @added="wordAdded($event)"></this-add>

      </v-flex>


      <v-snackbar v-model="added" bottom="bottom" color="grey" :timeout="5000">
        Слово
        {{addedWord}}
        добавлено!
        <v-btn dark="dark" flat="flat" @click="added = false">
          Close
        </v-btn>
      </v-snackbar>

    </v-layout>
  </v-container>
</script>

<script id="this-card" type="x-template">

  <v-card :class="{'grey':word.status=='draft','lighten-2':word.status=='draft'}">

    <v-card-title>
      <h2 class="the-word">
        {{parts[0]}}{{parts[1]}}&#x301{{parts[2]}}
      </h2>
      <v-spacer></v-spacer>

    <v-btn icon disabled>
      <v-icon v-if="word.status=='published'" color="grey">fa-book</v-icon>
      <v-icon v-if="word.status=='draft'" color="grey">fa-inbox</v-icon>
    </v-btn>



      <v-menu v-if="word.author" v-model="open.author" nudge-bottom="16" top="top" left="left" transition="slide-x-transition" origin="right">

        <v-btn slot="activator" small="small" icon="icon">
          <v-icon color="grey">fa-user-circle</v-icon>
        </v-btn>

        <v-card width="280">
          <v-list class="grey">
            <v-list-tile>

              <v-list-tile-content>
                <v-list-tile-title>
                  <v-icon >fa-user-circle</v-icon>
                  {{word.author.name}}</v-list-tile-title>
                <v-list-tile-sub-title v-if="word.author.account">
                  <v-icon >fab fa-{{word.author.net}}</v-icon>
                  {{word.author.account}}
                </v-list-tile-sub-title>
              </v-list-tile-content>

              <v-list-tile-action>
                <v-btn icon="icon" @click="open.author = false">
                  <v-icon>fa-times-circle</v-icon>
                </v-btn>
              </v-list-tile-action>
            </v-list-tile>
          </v-list>
        </v-card>
      </v-menu>


        <v-btn @click="open.newDesc=!open.newDesc" small icon><v-icon color="grey">fa-plus-circle</v-icon></v-btn>

      <v-btn color="grey" :class="{'lighten-3':!open.desc,'lighten-1':open.desc}" @click="open.desc=!open.desc" small="small" icon="icon">
        <v-icon color="grey">fa-angle-down</v-icon>
      </v-btn>

    </v-card-title>

    <v-slide-y-transition>
      <v-card-text v-if="word.descs" class="grey" :class="{'lighten-3':word.status=='published','lighten-1':word.status=='draft'}" v-show="open.desc">
      <v-layout row wrap>
      <v-flex :key="desc.desc_id.id" v-for="desc in word.descs">
        <v-card>

              <v-card-text>
                {{desc.desc_id.text}}
              </v-card-text>


        </v-card>
        </v-flex>
        </v-layout>
      </v-card-text>
    </v-slide-y-transition>

    <v-slide-y-transition>
      <this-add v-show="open.newDesc" :add="word"
      @load="$emit('load',$event)" @added="wordAdded($event)"></this-add>

    </v-slide-y-transition>

  </v-card>
</script>

<script id="this-add" type="x-template">

  <v-flex >

    <v-stepper v-if="!(newStep==5)" v-model="newStep" vertical="vertical">
      <v-flex v-if="newWord" ma-3="ma-3">
        <h3 >Такого слова ещё нет в нашем словаре. Давайте добавим!</h3>
      </v-flex>

      <v-stepper-step v-if="newWord" :complete="newStep>1" step="1">
        Ударение
      </v-stepper-step>

      <v-stepper-content v-if="newWord" step="1">

        <v-btn-toggle v-model="add.stress">
          <v-btn @click="newStep=2;add.stress=index" v-for="(letter,index) in add.word" :key="index">{{letter}}</v-btn>
        </v-btn-toggle>
      </v-stepper-content>

      <v-stepper-step :rules="[() => newStep<=2 || valid.desc]" :complete="newStep > 2" step="2">Определение</v-stepper-step>

      <v-stepper-content step="2">
        <h2 mb-2="mb-2" class="the-word">
          {{parts[0]}}{{parts[1]}}&#x301{{parts[2]}}
          &mdash; это
        </h2>
        <v-form @submit.prevent="" v-model="valid.desc">
          <v-textarea :rules="rules.desc" box="box" auto-grow="auto-grow" counter="140" hint="Что это слово могло бы обозначать?" v-model="add.desc"></v-textarea>

          <v-btn v-if="newWord" icon  @click="newStep=1;add.stress=null"><v-icon>fa-arrow-up</v-icon></v-btn>

          <v-btn outline="outline" :disabled="!valid.desc" @click="newStep=4">Аноним</v-btn>
          <v-btn dark="dark" :disabled="!valid.desc" @click="newStep=3">Автор</v-btn>

        </v-form>

      </v-stepper-content>

      <v-stepper-step :complete="newStep > 3" step="3">Автор</v-stepper-step>

      <v-stepper-content step="3">

        <v-form v-model="valid.author"></v-form>

        <v-text-field outline="outline" counter="counter" hint="Имя и фамилия или псевдоним" :rules="rules.name" label="Имя" v-model="author.name"></v-text-field>

        <v-text-field outline="outline" counter="counter" hint="Ваш аккаунт в выбранной сети" :rules="rules.account" label="Аккаунт" v-model="author.account">

          <v-menu ma-0 slot="prepend-inner">
            <v-btn slot="activator" flat="flat" large="large" icon="icon">
              <v-icon>fab fa-{{author.net}}</v-icon>&nbsp;
              <v-icon>fa-angle-down</v-icon>
            </v-btn>

            <v-list>
              <v-list-tile v-for="(net, index) in nets" :key="index" @click="author.net=net.name">
                <v-list-tile-title>
                  <v-icon>fab fa-{{net.name}}</v-icon>
                </v-list-tile-title>
              </v-list-tile>
            </v-list>
          </v-menu>

        </v-text-field>
          <v-btn icon @click="newStep=2;"><v-icon>fa-arrow-up</v-icon></v-btn>
        <v-btn @click="newStep=4">Представиться</v-btn>

      </v-stepper-content>

      <v-stepper-step :complete="newStep > 4" step="4">Всё верно?</v-stepper-step>

      <v-stepper-content step="4">
        <v-layout>
          <v-flex>
            <v-card color="grey lighten-3">
              <v-card-title>
                <div>
                  <h2 class="the-word">{{parts[0]}}{{parts[1]}}&#x301{{parts[2]}}

                  </h2>
                  <p>{{add.desc}}
                  </p>
                </div>

              </v-card-title>
              <v-card-actions>
                <v-icon>fa-account-circle</v-icon>
                {{author.name || 'Аноним'}}</v-card-actions>

            </v-card>
          </v-flex>
        </v-layout>
        <small>Новые слова проходят модерацию 1—4 дня</small><br />
        <v-btn icon  :disabled="!valid.desc" @click="newStep=3"><v-icon>fa-arrow-up</v-icon></v-btn>
        <v-btn dark="dark" :disabled="!valid.desc" @click="newStep=5;send()">Отправить</v-btn>

      </v-stepper-content>

    </v-stepper>
  {{add}}
  </v-flex>
</script>

<script id="descs" type="x-template">
  <v-container grid-list-lg="grid-list-lg">
    <v-layout wrap="wrap">
      <v-flex v-for="desc in descs" v-bind:key="desc.id">
        <v-card>
          <v-card-text>
            {{desc.text}}
          </v-card-text>
        </v-card>
      </v-flex>

    </v-layout>
  </v-container>
</script>

<script id="author" type="x-template">
  <v-container grid-list-lg="grid-list-lg">
    <v-layout row="row" wrap="wrap">
      <v-flex xs12="xs12" sm6="sm6" offset-sm3="offset-sm3">

        <h1 v-if="me">Я ЗДЕСЬ!</h1>
        {{me}}
        <p>
          Этот раздел доступен только авторам. Но автором может стать каждый! Достаточно представиться и войти.
        </p>
      </v-flex>
      <v-flex xs12="xs12" sm6="sm6" offset-sm3="offset-sm3">
        <v-form v-model="valid">
          <v-text-field autofocus="autofocus" outline="outline" counter="counter" hint="" :rules="rules.email" validate-on-blur="validate-on-blur" browser-autocomplete="browser-autocomplete" label="Эл. почта" v-model="user.email"></v-text-field>
          <v-text-field
            browser-autocomplete="browser-autocomplete"
            outline="outline"
            counter="counter"
            hint=""
            :rules="rules.password"
            validate-on-blur="validate-on-blur"
            :type="showPassword ? 'text' : 'password'"
            :append-icon="showPassword ? 'visibility' : 'visibility_off'"
            @click:append="showPassword = !showPassword"
            label="Пароль"
            v-model="user.password"></v-text-field>

          <v-flex v-if="!register" text-xs-center="text-xs-center">
            <v-btn dark="dark" @click="register=true">Представиться</v-btn>
            <v-btn outline="outline" :disabled="!valid" @click="login(user)">Войти</v-btn>
          </v-flex>

          <v-text-field v-if="register" outline="outline" counter="counter" hint="Имя и фамилия или псевдоним" :rules="rules.name" label="Имя" v-model="user.name"></v-text-field>

          <v-text-field v-if="register" outline="outline" counter="counter" hint="Ваш аккаунт в выбранной сети" :rules="rules.account" label="Аккаунт" v-model="user.account">

            <v-menu slot="prepend-inner">
              <v-btn slot="activator" flat="flat" large="large" icon="icon">
                <v-icon>fab fa-{{user.net}}</v-icon>
                <v-icon>fa-angle-down</v-icon>
              </v-btn>

              <v-list>
                <v-list-tile v-for="(net, index) in nets" :key="index" @click="user.net=net.name">
                  <v-list-tile-title>
                    <v-icon>fab fa-{{net.name}}</v-icon>
                  </v-list-tile-title>
                </v-list-tile>
              </v-list>
            </v-menu>

          </v-text-field>

          <v-flex v-if="register" text-xs-center="text-xs-center">
            <v-btn @click="register(user)" raised="raised" :disabled="!valid">Представиться</v-btn>
          </v-flex>

        </v-form>
      </v-flex>
    </v-layout>
  </v-container>
</script>

<script src="side/vue.js"></script>
<script src="side/vue-router.js"></script>
<script src="side/vue-material.min.js"></script>
<script src="side/vuetify.js"></script>
<script src="side/directus-sdk.umd.js"></script>
<script src="components.js"></script>
<script src="views.js"></script>
<script src="app.js"></script>

</html>
