<!DOCTYPE html>
<html>

  <head>
    <title>ЭТОВОТЭТО</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css"/>
    <link href="css/all.css" rel="stylesheet">
    <link href="css/vuetify.min.css" rel="stylesheet">
  </head>

  <body>
    <div id="app">
      <v-app>

        <v-dialog v-model="newUser" width="500">
          <v-card>
        <v-card-title
          class="headline grey lighten-2"
          primary-title
        >
          Добро пожаловать!
        </v-card-title>

        <v-card-text>
          <h2>Это онлайн-версия игры ЭТОВОТЭТО. </h2>

          <p>Начните вводить выдуманное слово, чтобы найти похожее в словаре. </p>

          <p>Если такого слова нет — добавьте его! Для этого укажите ударение щелкнув на кнопку с нужной буквой, затем напишите своё определение придуманного слова, а затем представьтесь указав реальное или вымышленное имя и, по желанию, аккаунт в предпочтительной социальной сети. Проверьте слово и отправляйте его на проверку! </p>

          <p>
          Чтобы увидеть его сразу — нажмите на иконку <v-icon>fa-inbox</v-icon> и вы увидите все присланные, но ещё не прошедшие проверку черновики слов и определений. </p>
          <p>
            Вы можете посмотреть определения слов, нажав на значок <v-icon>fa-angle-down</v-icon>, а также можете добавить опредение к любому слову в словаре или черновиках, нажав на значок <v-icon>fa-plus-circle</v-icon> в его карточке.
          </p>
          <p>Это самая первая рабочая версия игры — мы будем рады любым идеям по её совершенствованию. Присылайте ваши идеи и предложения на <a href="mailto:davay@frkt.ru">davay@frkt.ru</a> </p>
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="black"
            flat
            @click="newUser = false"
          >
            Ясно
          </v-btn>
        </v-card-actions>
      </v-card>
        </v-dialog>

        <v-toolbar flat="flat" height="120px">
          <v-spacer></v-spacer>
          <v-toolbar-title style="margin-left:0;" class="display-2">ЭТО ВОТ ЭТО</v-toolbar-title>
          <v-spacer></v-spacer>
        </v-toolbar>

        <v-toolbar flat="flat">
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn flat="flat" small="small" href="http://etovoteto.ru"><v-icon>fa-angle-left</v-icon></v-btn>
            <v-btn flat="flat" small="small" to="/">Слова</v-btn>
            <v-btn flat="flat" small="small" to="/desc">Определения</v-btn>

          </v-toolbar-items>
          <v-spacer></v-spacer>
        </v-toolbar>

        <v-content>
          <v-snackbar v-if="auth && !loggedIn" auto-height="auto-height" color="grey lighten-1" v-model="auth" multi-line="multi-line" vertical="vertical" :timeout="0" top="top">
            <v-form v-model="valid">
              <v-layout row="row" wrap="wrap">

                <v-flex xs12="xs12" text-xs-center="text-xs-center">
                  <v-text-field v-if="!loggedIn" autofocus="autofocus" outline="outline" :rules="rules.email"
                  hint="" browser-autocomplete="browser-autocomplete" label="Эл. почта" v-model="user.email"></v-text-field>
                </v-flex>
                <v-flex xs8="xs8" text-xs-center="text-xs-center">
                  <v-text-field
                    browser-autocomplete="browser-autocomplete"
                    outline="outline"
                    counter="counter"
                    hint=""
                    :rules="rules.password"
                    :type="showPassword ? 'text' : 'password'"
                    :append-icon="showPassword ? 'visibility' : 'visibility_off'"
                    @click:append="showPassword = !showPassword"
                    label="Пароль"
                    v-model="user.password"></v-text-field>
                </v-flex>

                <v-flex align-center="align-center" xs2="xs2" text-xs-center="text-xs-center">
                  <v-btn :disabled="!valid" icon="icon" @click="login(user)">
                    <v-icon>fa-arrow-right</v-icon>
                  </v-btn>

                </v-flex>
                <v-flex align-center="align-center" xs2="xs2" text-xs-center="text-xs-center">
                  <v-btn icon="icon" @click="auth=false">
                    <v-icon>fa-times-circle</v-icon>
                  </v-btn>
                </v-flex>

              </v-layout>
            </v-form>
          </v-snackbar>

          <router-view @auth="auth=!auth" :user="me"></router-view>

        </v-content>

      </v-app>
    </div>
  </body>


<script src="js/side/vue.js"></script>
<script src="js/side/vue-router.js"></script>
<script src="js/side/vuetify.js"></script>
<script src="js/side/directus-sdk.umd.js"></script>
<script src="js/app.js" type="module"></script>

</html>
